@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
   font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
.App{
    min-height: 100vh;  
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.homeMain{
    margin: 0;
    padding: 0;
    /* background-color: #333; */
    background-color: rgb(40 40 40/1);
    color: #03a9f4;
}
.customeClassForNav{
    background-color: rgb(40 40 40/1);
    /* background-color: #333; */
    color: #fff;
}
.darkTheme{
    background-color: rgb(40 40 40/1);
    color:#fff;
}
.codeIconDiv h1 ion-icon{
    font-size: 181px;
}
form input{
    color:#333;
}
table td , table th{
    color: white;
    padding: 50px;
}
.customBadgeSuccess span{
    /* background-color: #556B2F;
     */
    background-color: rgb(0 184 163/0.2);
    color: rgb(0 184 163/1);
    height: 20px;
    border-radius: 60px;
    font-size: 12px;
    letter-spacing: 1.5px;
    padding: 6px;
    font-weight: 900;
}
.customBadgeWarning span{
    background-color: rgb(255 192 30/0.2);
    color: rgb(255 192 30/1);
    height: 20px;
    border-radius: 60px;
    font-size: 12px;
    letter-spacing: 1.5px;
    padding: 6px;
    font-weight: 500;
}
.customBadgeDanger span{
    background-color: rgb(255 55 95/0.2);
    color: rgb(255 55 95/1);
    height: 20px;
    border-radius: 60px;
    font-size: 12px;
    letter-spacing: 1.5px;
    padding: 6px;
    font-weight: 900;
}
.form-control {
    border-radius: 40px;
}
.selectAll{
    width: 85%;
    margin-top: 20px;
}
.selectAll table{
    margin-top: 20px;
}
.cardBox{
    margin-left: 40px ;
    position:relative;
    width:100%;
    padding:20px;
    display:grid;   
    grid-template-columns:repeat(2,2fr);
    grid-gap:20px;
}
.cardBox .card{
    position:relative;
    background:#333;
    padding:20px;
    cursor:pointer;
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    border:none;
    border-radius:40px;
    transition:1s;
}
.cardBox .card:hover{
    background:#03a9f4;
}
.cardBox .card:hover .cardNumber{
    color:#fff;
    font-weight:900;
}
.cardBox .card:hover .cardIcon{
    color:#fff;
    font-weight:900;
}
.cardBox .card:hover .cardName{
    color:#fff;
    font-weight:900;
}
.cardBox .card .cardNumber{
    position:relative;
    font-size:2em;
    font-weight:600;
    transition:0.5s;
}
.cardBox .card .Link{
    text-decoration: none;
}
.cardBox .card .cardName{
    /* color:#999; */
    font-size:1.5em;
    transition:0.5s;
    text-transform: capitalize;
}